streamlit

langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
langchain-groq
langchain-ollama
ollama
langchain-chroma

python-dotenv
ipykernel

pypdf
pymupdf
beautifulsoup4
arxiv
wikipedia

chromadb
faiss-cpu
sentence-transformers
duckdb

pandas
openai